body{
    background-color:#d1adcc;
    margin: 0;
    display: block;
}
.container{
    margin: 25%;
    margin-top: 500px;
    font-family:'Times New Roman', Times, serif;
}

h1{
    color:brown;
}

#one{
    color:#f6e9d7 ;
}
.fruit{
    color: red;
    background-color:#c2d2bd ;
}
.vegetable{
    background-color: #2b6777;
    color: white;
}
.fruit li{
    padding: 10px;
    align-items: center;
}

.vegetable li{
    padding: 10px;
}