body{
    margin: 0;
    justify-content: center;
    background-color:#fcde67;
    
}
h1{
    /* border: 1px solid red; */
    /* width: 400px; */
    /* margin-top: 25%; */
    display: flex;
    margin-top: 25%;
    color: #de5499 ;
    justify-content: center;
    align-items: center;
}